<div class="container, col-md-offset-4 col-md-3">

  <%= form_for :category, url: categories_path, method: :post do |f| %>

    <div class="form-group">
      <label for="ancestry" class="control-label">名称:</label>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="ancestry" class="control-label">所属分类:</label>
      <%= f.select :parent_id, @parent_categories, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit "保存", class: 'btn btn-primary' %>
    </div>
  <% end %>
  
</div>
